/*
Team BuReTo:
Paul Burinda, Yan Ren, Taiwo Togun
main.css
A100 Portfolio Sheet

*/

/* GLOBAL STYLES */
  /* Alignment */
    .centered { text-align: center; }

    .rightAlign { text-align: right; }

    .leftAlign { text-align: left; }

    .allCaps { text-transform: uppercase; }

  /* Margins */
    .topMargin { margin-top: 30px; }

    .topMarginX { margin-top: 50px; }

    .topMarginBig {margin-top: 100px; }

    .bottomMargin { margin-bottom: 30px; }

  /* Sizing */
    .small { font-size: 1em; }


.WebsiteProj, .WhiteboardProj{
	margin: 20px;
}

.Apprentice-Carousel {
	width: 100%;
	height: 90%;
}

.Carousel-bg{
  background: #006496;
}

/* Carousel navbar
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* Apprentice Carousel Feature
-------------------------------------------------- */

.carousel {
  height: 95%;
}

.carousel h1 {
  margin-left: 20px;
  margin-right: 30px;
  font-family:  'Montserrat', sans-serif;
  color: white;
  font-style: bolder;
}

.carousel-caption {
  z-index: 10;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -.045em;
  line-height: 200%;
  color: white;
}

.carousel-caption h1 {
  font-style: bold;
  font-size: 250%;
}

.carousel-caption p {
  font-style: italic;
  font-size: 200%;
}

.carousel .item {
  height: 600px;
  background-color: #006496;
}

.carousel img{
  padding-top: 20px;
  width: 770px;
  min-width: 240px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.textDarkBG {
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size: 1.15em;
letter-spacing: -.045em;
color: white;
}

/* Footer CSS
---------------------------------------------------*/
#footer {
background: #3e3e3e;
padding: 50px;
}

.footerDarkBG {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  letter-spacing: -.045em;
  line-height: 1.3em;
  color: white;
}

/* Carousel RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 5px;
    font-size: 21px;
    line-height: 1.4;
  }

  .headerDarkBG {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    letter-spacing: -.045em;
    line-height: 1.3em;
    color: white;
  }

  .allCaps {
    text-transform: uppercase;
  }

  .textDarkBG {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.15em;
    letter-spacing: -.045em;
    color: white;
  }

  #footer {
    background: #3e3e3e;
    padding: 50px; 
  }
}

@media (max-width: 767px) {
  .carousel {
    height: 90%;
  }

  .carousel .item{
    height: 400px;
  }

  .carousel img {
    width: 85%;
    max-height: 250px;
    min-width: 250px;
  }

  .carousel-caption {
    height: 42%;
    line-height: 200%;
    font-size: 80%;
  }

  @media (max-width: 399px){
  	.carousel img {
  		display: none;
  	}
  }